* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --nav-color: rgb(30, 45, 60);
  --nav-title: rgb(255, 255, 255);
  --heading: rgb(90, 90, 90);
  --secondary-color: rgb(31, 151, 255);
}
